.newsletter-section {
  background-color: #1a202c;
  color: white;
  padding: 4rem 1rem;
  text-align: center;
}

.newsletter-section h2 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.newsletter-section p {
  margin-bottom: 2rem;
}

.newsletter-section form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-section input[type="email"] {
  padding: 0.75rem 1rem;
  border-radius: 0.375rem 0 0 0.375rem;
  width: 33.333333%;
  color: #1a202c;
  border: none;
}

.newsletter-section button[type="submit"] {
  background-color: #3b82f6;
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 0 0.375rem 0.375rem 0;
}

.newsletter-section button[type="submit"]:hover {
  background-color: #2563eb;
}
